/*
Colors used

Primary Color (Light Blue): #1E90FF;
Secondary Color (Dark Grey): #5D5D5D;
Secondary color (Light Grey) #EBEBEB;
Tertiary Color (Orange) #F36D34;
 */

body {
  font-family: 'Actor', sans-serif;
  font-size: 20px; /* Sets the font size to 16px */
  line-height: 1.6; /* Sets the line-height to 1.6 */
}
h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

div {
  padding: 10px; /* Adds a 10px inner spacing to all sides*/
  margin: 10px; /* Adds a 10px outer spacing to all sides*/
}

/*style of Links*/
a {
  color: #1E90FF;
}

a:visited {
  /* visited link */
  color: #5D5D5D;
}
a:hover,
a:focus {
  text-decoration: none; /* No underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #EBEBEB;
}

button {
  /* overwrite browser defaults */
  border: none; /* reset the border */
  font-family: inherit; /* takes the font from the outer container */

  /* style button */
  background-color: #1E90FF;
  color: white !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid  #5D5D5D; /* width of the border, type, color */
  transition: 0.2s opacity;
}
button:hover,
button:focus {
  cursor: pointer; /* let's the mouse appear as hand when hovering over the button */
  opacity: 0.8; /* Reduces the opactiy of the button to 80% */
}
.button-secondary {
  background-color: #F36D34;
}
